.example-card {
    flex: 1 1 25%;
    max-width: 400px;
    height: 350px;
  }

.IMG {
    max-width:200px;
    width:100%;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly
}
