<div class="container">
    <div class="IMGContainer" *ngFor="let annotedImg of annoted">
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>{{annotedImg.filename}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="config.storageEndpoint + annotedImg.filename" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                {{ annotedImg.annotations}}
            </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>