<div class="upload-container">
    <div (click)="uploadFile.click()">
        <button mat-button color="primary">
            <mat-icon>
                upload
            </mat-icon>Choose File to upload to blob storage for analysis</button>
        <input #uploadFile (change)="upload($event)" type='file' style="display:none"/> 
    </div>
    <div>
        <mat-card *ngIf="uploadedState === 'uploaded'" style="background-color: lightgreen;">
            The file has just been uploaded ! 
        </mat-card>
        
        <mat-card *ngIf="uploadedState === 'failed'" style="background-color: red;">
            Error while uploading the file ! 
        </mat-card>
    </div>
</div>