.IMG {
    max-width:200px;
    width:100%;
}

.upload-container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}